<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>



<div id="app">
    <div v-for="group in Object.keys(vsx)">
        <h3> {{ group }}: {{ beautifyText( group, vsx[group].value ) }}</h3>

        <div class="container">
            <select-btn
                v-if="group!='volume'"
                v-for="value in vsx[group].range"
                v-bind:class="value==vsx[group].value?'selected':''"
                v-bind:name= 'group'
                v-bind:text= 'beautifyText( group, value )'
                v-bind:value= 'value'
                v-bind:key="group.id"
                v-on:change-request="postData"
                > 

            </select-btn>

            <input
                v-if="group=='volume'"
                type="range" 
                v-bind:min="vsx[group].range[0]" 
                v-bind:max="vsx[group].range[ vsx[group].range.length -1 ]" 
                v-model:value ="vsx[group].value"
                v-on:change= "postData('volume',vsx[group].value)"
                step="1"
            ></input">
        </div>
    </div>
</div>


<script>
    var app = new Vue({
        el: '#app',
        data: {
            vsx: {}
        },
        created (){
            this.getData()
        },
        methods: {
            getData(){
                fetch('http://192.168.188.67:81/vsx')
                .then(response => response.json())
                .then( json => this.vsx = json)
            },
            postData(key,value){
                newState = {}
                newState[key] = value
                console.log(newState)
                fetch('http://192.168.188.67:81/vsx',{
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(newState)
                }).then(res => res.json()).then(json => this.vsx = json);
            },
            beautifyText(type, value){
                switch(type){
                case "volume":
                    return ((value/2) - 80) + "db"
                case "mcacc": 
                    return value
                case "power":
                    return value?"AN":"AUS"
                case "input": 
                    return value
                }
            }
        }
    })

    Vue.component('select-btn', {
        props: ['name','value','text'],
        template: '<button v-on:click="$emit(\'change-request\', name, value)"> {{ text }} </button>'
    })

 

</script>


<style>
    h3 {
        font-size: 5em;
        background-color: lightgray;
    
    }
    .container {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    button {
        width: 30%;
        min-height: 4em;
        min-width: 6em;
        margin: 1em 0.2em;
        font-size: 3em
    }
    .selected {
        background-color: gray;
    }
    input {
        width: 100%;
        min-height: 20em;
    
    }
    
    </style>
    