<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>


<div id="app">
    <div v-for="grpup in Object.keys(vsx)">
        <h3> {{ grpup }}: {{ beautifyText( grpup, vsx[grpup].value ) }}</h3>


        <div class="container">
            <button  
            v-for="value in vsx[grpup].range"
            v-bind:class="value==vsx[grpup].value?'selected':''"
            @click="postData(grpup, value)"> 
                    {{ beautifyText(grpup, value) }}
        </button>
        </div>
    </div>
</div>


<script>
    var app = new Vue({
        el: '#app',
        data: {
            vsx: {}
        },
        created (){
            this.getData()
        },
        methods: {
            getData(){
                fetch('http://192.168.188.67:81/vsx')
                .then(response => response.json())
                .then( json => this.vsx = json)
            },
            postData(key,value){
                newState = {}
                newState[key] = value
                fetch('http://192.168.188.67:81/vsx',{
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(newState)
                }).then(res => res.json()).then(json => this.vsx = json);
            },
            beautifyText(type, value){
                switch(type){
                case "volume":
                    return ((value/2) - 80) + "db"
                case "mcacc": 
                    return value
                case "power":
                    return value?"AN":"AUS"
                case "input": 
                    return value
                }
            }
        }
    })

    Vue.component('group-wrapper', {
        props: ['name'],
        template: '<butto v-on:click="$emit(\'change-request\', 0.1)"> {{ name }} </butto>'
    })

 

</script>

<style>

    h3 {
        font-size: 5em;
        background-color: lightgray;
    
    }
    .container {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    button {
        width: 30%;
        min-height: 4em;
        min-width: 6em;
        margin: 1em 0.2em;
        font-size: 3em
    }
    .selected {
        background-color: gray;
    }
    
    </style>
    